# openai api key
OPENAI_API_KEY=
# openai api base url
OPENAI_API_BASE=

# baidu cloud api key
QIANFAN_API_KEY=
# baidu cloud api base
QIANFAN_API_BASE=


# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=false
# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
